.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-25 {
    width: 25%;
}

.col-50 {
    width: 50%;
}

.col-75 {
    width: 75%;
}

.col-100 {
    width: 100%;
}

@media(max-width: 600px) {
    .col-25-small {
        width: 25%;
    }

    .col-50-small {
        width: 50%;
    }

    .col-75-small {
        width: 75%;
    }

    .col-100-small {
        width: 100%;
    }
}

@media(min-width: 900px) {
    .col-25-medium {
        width: 25%;
    }

    .col-50-medium {
        width: 50%;
    }

    .col-75-medium {
        width: 75%;
    }

    .col-100-medium {
        width: 100%;
    }
}

@media(min-width: 1200px) {
    .col-25-large {
        width: 25%;
    }

    .col-50-large {
        width: 50%;
    }

    .col-75-large {
        width: 75%;
    }

    .col-100-large {
        width: 100%;
    }
}